fastapi
uvicorn
sqlalchemy
pydantic[email]
python-multipart
aiomysql
pymysql
redis
python-dotenv
langgraph>=0.2.0
langchain>=0.3.0
langchain-core
langchain-docling
langchain-openai>=0.2.0
langchain-mcp-adapters
langchain-community
langchain-chroma
langchain-text-splitters
langchain-classic
chromadb
docling
docling-core
pandas
xlrd
openpyxl
FlagEmbedding
transformers>=4.57.0
torch
