fastapi
uvicorn
streamlit
requests
sqlalchemy
pydantic[email]
python-multipart
python-dotenv

langchain
langchain-classic
langchain-community
langchain-core
langchain-mcp-adapters
langchain-openai
langchain-text-splitters
langchain-chroma
chromadb
mcp

FlagEmbedding
transformers
torch
