OPENAI_API_KEY1=your_openai_api_key
OPENAI_BASE_URL=https://your-openai-compatible-endpoint/v1
TAVILY_API_KEY=

LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=your-project-name
